<%- include ("./partials/cabecera") %> 

<style>

   
@media (max-width: 1700px) {
    .formulario{
      width: 40%;
    }
}
    
  @media (max-width: 600px) {
    .formulario{
      width: 100%;
      height: 100%;
    }
    .email .password {
      min-width: 80%;
    }
  }
  </style>
<div class="text-center mt-5 mb-5">

    <form class="container formulario col-3 mt-5" action="/passwordNew" method="post">
        <div class="text-center m-auto">
          <img src="./logo/blanco.png" alt="" style="width: 200px; margin-top: 150px;">
        </div>
        <h1 class="h3 mt-5 mb-3" style="font-weight: 800;">Ingresa tu nueva contraseña</h1>
        <input type="text" name="email" class="form-control email" value="<%=correo%>" hidden>
    
        <div class="form-floating text-white " style="margin-top: 100px;">
          <input type="password" name="password" class="form-control email" placeholder="Nueva contraseña" style=" border: 2px solid rgb(18, 239, 18); background-color: black; opacity: 0.7; color: white;" required>
          <label for="floatingInput" class="">Nueva contraseña</label>
        </div>
        <div class="form-floating text-white mt-5">
            <input type="password" name="password2" class="form-control email mt-3" placeholder="Nueva contraseña" style=" border: 2px solid rgb(18, 239, 18); background-color: black; opacity: 0.7; color: white;" required>
            <label for="floatingInput" class="">Repite contraseña</label>
          </div>
    
        <div class="checkbox mb-3">
    
        </div>
        
        <button class="w-100 mt-5 btn btn-lg text-white" type="submit" style="background-color: rgb(9, 11, 9); border-radius: 20px 20px 20px 20px; border: 2px solid rgb(18, 239, 18); opacity: 0.8;">Restaurar</button>
       
      </form>
      <br>
      <a href="/login" class="mt-4 text-white" style="text-decoration: none; font-weight: 800;">Iniciar sesión</a>
      <br>
      <a href="/register" class="mt-4 text-white" style="text-decoration: none; font-weight: 700;">Registrarse</a>
    </div>
<%- include ("./partials/pie") %> 